<div class="flex w-full justify-center p-3">
  <p-card header="Forgot Password" class="w-lg">
    <form
      [formGroup]="forgotPwdForm"
      class="flex flex-col justify-center space-y-1"
    >
      <!-- email -->
      <div class="flex flex-col gap-2">
        <label for="email">Email</label>
        <input
          pInputText
          placeholder="example@mail.io"
          id="email"
          aria-describedby="email-help"
          formControlName="email"
        />
        @if (email?.invalid && (email?.dirty || email?.touched)) {
        <small id="email-help" class="text-red-600">
          {{ getError(email, 'email') }}
        </small>
        }
        <small>
          You will receive an email to reset your password ONLY if you already
          registered.
        </small>
      </div>
      

      <div class="flex flex-row justify-end">
        <button
          class="mt-4"
          pButton
          severity="success"
          [disabled]="isFormDisabled"
          (click)="forgotPassword()"
        >
          @if (isSpin()) { 
            <i class="pi pi-spin pi-spinner"></i>
          } @else { Reset }
        </button>
        <!-- <button mat-button [routerLink]="['../..', 'auth', 'login']">
        Login
      </button> -->
      </div>
    </form>
  </p-card>
  
</div>
