<div class="flex w-full justify-center p-3">
  <!-- card -->

  <p-card header="Login" class="w-lg">
    <div class="my-8 flex w-full gap-5">
      <p-button
        class="cursor-pointer"
        label="Google"
        severity="secondary"
        icon="pi pi-google"
        [disabled]="isSpin()"
        (click)="loginGoogle()"
      />
      <p-button
        class="cursor-pointer"
        label="Github"
        severity="secondary"
        icon="pi pi-github"
        [disabled]="isSpin()"
        (click)="loginGithub()"
      />
    </div>

    @if (loginForm) {
    <p-card>
      <form
        [formGroup]="loginForm"
        class="flex flex-col justify-center space-y-1"
      >
        <!-- email -->
        <div class="flex flex-col gap-2">
          <label for="email">Email</label>
          <input
            pInputText
            placeholder="example@mail.io"
            id="email"
            aria-describedby="email-help"
            [formControlName]="loginProps.EMAIL"
          />
          @if (email?.invalid && (email?.dirty || email?.touched)) {
          <small id="email-help" class="text-red-600">
            {{ getError(email, loginProps.EMAIL) }}
          </small>
          }
        </div>

        <!-- password -->
        <div class="flex flex-col gap-2 mb-5">
          <label for="password">Password</label>
          <div class="flex relative">
            <input
              class="w-full"
              pInputText
              id="password"
              type="password"
              [formControlName]="loginProps.PASSWORD"
              placeholder="Password"
              #passwordField
            />
            <button
              class="absolute right-0 border-0"
              type="button"
              (click)="
                passwordField.type === 'password'
                  ? (passwordField.type = 'text')
                  : (passwordField.type = 'password')
              "
            >
              @if (passwordField.type === 'password') {
              <i class="pi pi-eye"></i>
              } @if (passwordField.type === 'text') {

              <i class="pi pi-eye-slash"></i>
              }
            </button>
          </div>
          @if (password?.invalid && (password?.dirty || password?.touched)) {
          <small id="password-help" class="text-red-600">
            {{ getError(password, loginProps.PASSWORD) }}
          </small>
          }
        </div>

        <button
          pButton
          severity="success"
          class="mt-4"
          [disabled]="isFormDisabled"
          (click)="loginEmail()"
        >
          @if (isSpin()) {
          <i class="pi pi-spin pi-spinner"></i>
          } @else { Login }
        </button>
      </form>
    </p-card>

    }

    <!-- submit -->
    <div class="flex flex-row justify-between items-center mt-5">
      <button [routerLink]="['/', 'auth', 'register']">Register</button>
      <a
        class="underline text-custom-blue"
        [routerLink]="['/', 'auth', 'forgot-password']"
        >Forgot Password?</a
      >
    </div>
  </p-card>
</div>
