<div class="nav-wrapper bg-white flex flex-col">
  <div
    class="logo flex justify-start pl-5 items-center h-20 text-lg mobile:max-tablet:px-5 border-gray-200 border-r border-b"
  >
    <img class="" alt="Logo-sm" routerLink="/" src="images/logo-sm.svg" />
    <span class="font-display">AsyncMed</span>
  </div>
  <div
    class="nav-content p-5 border-gray-200 border-r h-[calc(100vh-var(--menu-height))]"
  >
    <ul>
      <li class="p-5 mb-2 is-active ">
        <i class="pi pi-objects-column pr-2"></i>
        Dashboard
      </li>
      <li class="p-5 mb-2">
        <i class="pi pi-users pr-2"></i>
        Employees
      </li>
      <li class="p-5 mb-2">
        <i class="pi pi-microchip-ai pr-2"></i>
        AI Help
      </li>
      <li class="p-5 mb-2">
        <i class="pi pi-book pr-2"></i>
        Knowledge Base
      </li>

      <li class="p-5 mb-2">
        <i class="pi pi-compass pr-2"></i>
        Onboarding
      </li>
    </ul>
  </div>
</div>
